@import url("../../../../variables.less");
spotify-search-results {
  width: 100%;
  display: block;
}

@card-width: 200px;
@header-size: 24px;
@image-margin: 10%;
@card-color: darken(@mainBgColor, 5%);

.spotify-search-result {
  padding: 15px;

  h4 {
    font-size: @header-size;
    text-transform: capitalize;
  }
  &-list {
    display: flex;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: stretch;
    overflow-x: auto;
    padding-bottom: 1em;

    .spotify-search-result-item {
      .card();
    }
  }
}
