<div class="no-data" *ngIf="!resource">No album found</div>

<div class="album" *ngIf="resource">
    <div class="album-header">
        <div class="album-cover">
            <img *ngIf="resource.images" src="{{resource.images[0].url}}" />
        </div>
        <div class="album-info">
            <ul>
                <li class="album-name">{{resource.name}}</li>
                <li class="album-artists"><span class="artist" *ngFor="let artist of resource.artists" (click)='open(artist)'>
                        {{artist.name}}</span></li>
                <li *ngIf="resource.genres">
                    <span class="artist" *ngFor="let genre of resource.genres">{{genre}}</span>
                </li>
                <li class="more-info">
                    <span>{{resource.album_type}}</span>
                    <span>{{resource.release_date}}</span>
                    <span>{{resource.total_tracks}} Tracks</span>
                    <span>{{resource.popularity}} <mat-icon class="icon">signal_cellular_alt</mat-icon> </span>
                </li>
            </ul>
        </div>
    </div>
    <div class="album-songs" *ngIf="resource.tracks">
        <div *ngFor="let track of resource.tracks.items" class="track-row" (click)="open(track)">
            <div class="cell">{{track.track_number}}</div>
            <div class="cell primary">{{track.name}} </div>
            <div class="cell">{{track.duration_ms|date:'mm:ss'}}</div>
        </div>
    </div>
</div>