@import url("../../../variables.less");

.track-info {
  display: flex;
  margin: 2em;
}

.album-image {
  max-width: @headingImageWidth;
  min-width: @headingImageWidth;
  max-height: @headingImageWidth;
  .radiusOverflow(@headingImageWidth);
  img {
    width: 100%;
  }
}

.track-info-data {
  margin-left: 1em;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-content: flex-start;

  .name {
    .headerTitle();
  }
}
.album-artist {
  .album-name,
  .artist {
    cursor: pointer;
    transition: 100ms all;
    font-weight: 300;
    text-transform: uppercase;
  }
  .album-name {
    font-size: 14px;
  }
  .artist {
    font-size: 10px;
  }
}
