@import url("../../../variables.less");

.track-info {
  display: flex;
  margin: 15px 0;
}

.album-image {
  width: 160px;
  overflow: hidden;
  img {
    width: 100%;
  }
}

.track-info-data {
  .name {
    font-weight: bold;
    font-size: @titleFontSize;
    line-height: @titleFontSize;
    color: @titleColor;
  }
}
